/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  box-sizing: border-box;
}

$gray-color: #6c757d;

.gray-color-background {
  background: $gray-color;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
}

.wrapper {
  width: 90%;
  margin: 0 auto 0 auto;
}
